*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(243, 243, 243);
   
}
.navbar-container{
    display: flex;
    padding: 10px 0;
    color:#fff;
    background-color: #00123D;
    /*color end here*/
    -webkit-box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.25); 
    box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.25);
}

.navbar{ 
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Thasadith', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.app-binder{
    display: flex;
    justify-content: space-around;
    
    
}
.appicon{
    background-image: url("../img/weather-all-img/sun.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.weather-data-container{
    display: flex;
    justify-content: center;
}
.weather-box{
    display: grid;
    color: #fff;
    background-color: #00123D;
    margin-top: 40px;
    width: 450px;
    height: 600px;
    /* box-shadow: 0 14px 28px rgba(236, 152, 152, 0.25), 0 10px 10px rgba(0,0,0,0.22);    */
    -webkit-box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.26); 
    box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.26);
    padding-left:10px;
    border-radius: 20px 20px 20px 20px;
}
.row-item-1{
    margin-top: 15px;
    font-family: 'Thasadith', sans-serif;
    font-size: 30px;
    font-weight: 500;
    height: 40px;
    
    
}
.row-item-2{
    margin-top: -90px;
    font-family: 'Thasadith', sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
      
}
.row-item-3{
    margin-top: -155px;
    font-family: 'Thasadith', sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
      
}
.row-item-4{
    margin-top: -215px;
    display: flex;
    justify-content: space-between;

   
}
.col-item{
    /* border: 1px solid #fff; */
    /* background-color: #D6E9FE; */
    height: 150px;
    flex: 1;

}
.col-3{
    flex: 2;
}
.col-1{
    background-image: url("../img/weather-all-img/weather_9.svg");
    background-repeat: no-repeat;   
}
.col-2{
    
    font-family: 'Thasadith', sans-serif;
    font-size: 60px;
    font-weight: 400;
}
.col-3{
    margin-left: 20px;
    font-family: 'Thasadith', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.row-item-5{
    margin-left: 5px;
    margin-top: -180px;
    font-family: 'Thasadith', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.footer-item{
    font-family: 'Thasadith', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.r-f-1{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
}
.r-f-item{
    height: 20px;
    flex:1;
    font-family: 'Thasadith', sans-serif;
    font-size: 15px;
    font-weight: 600;
   
}
.r-f-2{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
}
.r-f-2-item{
    height: 30px;
    flex:1;  
}
.day1-img{
    background-image: url("../img/weather-all-img/weather_3.svg");
    background-repeat: no-repeat;
}
.day2-img{
    background-image: url("../img/weather-all-img/weather_10.svg");
    background-repeat: no-repeat;
}
.day3-img{
    background-image: url("../img/weather-all-img/weather_11.svg");
    background-repeat: no-repeat;
}
.day4-img{
    background-image: url("../img/weather-all-img/weather_12.svg");
    background-repeat: no-repeat;
}
.day5-img{
    background-image: url("../img/weather-all-img/weather_17.svg");
    background-repeat: no-repeat;
}
.day6-img{
    background-image: url("../img/weather-all-img/weather_18.svg");
    background-repeat: no-repeat;
}
.day7-img{
    background-image: url("../img/weather-all-img/weather_40.svg");
    background-repeat: no-repeat;
}
.r-f-3{
    display: flex;
    height: 30px;
    flex:1;  
}
.r-f-3-item{
    height: 20px;
    padding-left: 7px;
    flex:1;
    font-family: 'Thasadith', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.r-f-4{
    display: flex;
    height: 30px;
    flex:1;  
}
.r-f-4-item{
    height: 20px;
    padding-left: 7px;
    flex:1;
    font-family: 'Thasadith', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

